             /* Display */

/* h2 {
display: inline;
background-color:pink;
}
span {
    display: block;
    background-color: yellowgreen;
} */

span {
    /* background-color:pink; */
    border: 2px solid black;
    height: 100px;
    width: 200px;
    padding: 50px; /* left&right */
    margin: 20px;  /* left&right */
}
div {
    border: 2px solid black;
    height: 100px;
    width: 200px;
    padding: 50px;
    margin: 20px;  
}