 h3 {
    background-color: antiquewhite !important;
 } 

              /* Universal Selectors */
* {
    font-family: 'Courier New';
    background-color :;
}
                /* Element Selectors */

h1,h3 {
    color: #b92b27;
}
         
/* h3 {
    color:purple ;
} */
                  /* Id Selectors */

 #login {

      background-color: white;    
 }

 #signup {

    background-color:#b92b27 ;
    color: white;
 } 
                 /* Class Selector */

.upvote {
    background-color: green;
    color: aliceblue;
}

        /* descendant selector */
 .post a {
        color: purple;
        background-color: yellow;
    } 

  nav ul li  {
    color:hotpink ;
  }

          /* Adjacent sibling Combinator */

p + h3 {
     text-decoration: underline;
}

.upvote + button {
    background-color: cornflowerblue;
    color: white;
}
           /* Child Combinator */
 
 div > input {
    background-color: darksalmon;

 } 
             /* Attribute selector-value preyer */ 
   
input[type="text"] {
    color: red;
}

input[type="password"] {
    color: green;
}
              /* attribut prasent */

 input[type] {
     background-color: ghostwhite;
 }
         /* Practice Qs.2 */

#myId p{
    color: green;
}

/* div[id=myId] {
    color: green;
} */
       /* Pseudo class */

    button:hover{
        background-color: black;
        color: white;
    }

h3:hover {
    text-decoration: none;
    /* text-decoration: overline;*/
} 
             /* active */

button:active {
    background-color:hotpink;
    color: black;
}   
p:active {
     font-weight: bold;
     color: green;
} 
               /* Checked*/

 input[type="radio"]:checked + label {
    color: red;
    font-weight: bold;
 }
           /* nth-of-type */

 div:nth-of-type(2n){
     background-color: blanchedalmond;
 }

              /* Pseudo Elements */
              /* First-Letter */

 h1::first-letter {
     color: green;
 }     
              /* First-Line */       
       
 P::first-line{
    color: purple;
 }
            
                 /* selection */
 
    p::selection {
        background-color: rgb(199, 192, 58);
    }
                 /* cascading & Specificity */

  h3 {
     background-color: yellow; 
  }

  h3 {
    background-color: blue;
  }

 
      
       
