<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
   <h1>This is the home page1*3</h1>
  <h3> <%= ["apna","college","kapil"][2]%> </h3>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, officiis adipisci omnis corrupti voluptatibus recusandae quam dolorem ratione excepturi, sunt commodi, nemo quia nobis ab!</p>
   <button>click me!</button>  
</body>
</html>