/* h2 {
    color: orange;
}

p {
    color:white ;
    background-color: black;
}

button {
    color: white;
    background-color: blue;
}

h1 {
    color: rgb(0, 255, 0);
}

/* h3{
    color: rgb(255, 255, 0);
} 

h4 {
    color: rgb(255, 255, 255);
    background-color: black;
}
h5 {
    color: rgb(0, 0, 0);
}

h6 {
    color: rgb(120, 0, 120);
}
h1 {
    color: #000000;
}
h2 {
    color: #0000ff;
}
h3 {
    color:#ffff00;
}
h1 {
   color: #ffffff; 
   background-color:blue;
}
h2 {
    color: #ffff00;
}
h3 {
    color: #0000ff;
} */

/* h1 {
    text-align: center;
    text-decoration:red underline;
    letter-spacing:normal;
    font-size:40px ;
    font-family: avant garde,didot, sans-serif;
    
}

h3 {
    text-align:start;
    text-decoration: line-through;
}

p {
    text-align: justify;
    font-weight: normal;
    line-height:1.5;
    font-size: 15px;

}
h2 {
    font-weight: 100;
    text-decoration: overline;
    font-family: impact;
}

a {
    text-decoration: none;
} */

/* Practice Qs.3 */

h1 {
    font-family: league spartan;
    color: #ffa511;
    text-align: center;
    font-size: 55px;
    font-weight:900 ;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: teal underline double;
    text-transform: uppercase;

}