              /* Flexbox.1 / Display Flex.2 */
#container {
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;  
      
}

h1 {
    text-align: center;
}

#container div {
    height: 100px;
    width: 350px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}